{% extends "appbuilder/base.html" %}

{% block content %}
<h2><center>{{_('Welcome to Easy Order BL')}}</center></h2>

<div class="well">
<p>{{_("What is Easy Order BL? It is a tool where you and your suppliers can manage your orders. You can create new suppliers, create new orders, change old orders or execute orders.")}} </p>
<p>{{_("Link to")}} <a href="https://github.com/AchimMenzel/UniversalOrderProgramFlaskAB</p>">{{_("source")}}</a></p>

<div class="well">
    <div id="cont_0e8db5d630cb979adb1e836d73815492"><script type="text/javascript" async src="https://www.daswetter.com/wid_loader/0e8db5d630cb979adb1e836d73815492"></script></div>
    </div>
</div>
{% endblock %}
